body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    color: #1b5240;
    background-color: #c8da96;
    padding-left: 30px;
    padding-right: 30px;
}

nav td {
    width: 100%;
}

nav img {
    margin: 0 60px;
    width:  6vh;
    padding: 0px;
}

.logo-banner {
    text-align: left;
}

.logo-banner p {
    margin-top: 4px;
}

nav a {
    font-variant: normal;
    text-decoration: none;
    color: #1b5240; 
    line-height: 0px;
}

nav td p {
    text-align: left;
    line-height: 0px;
    margin-left: 0;
    color: #1b5240;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info p {
    margin-left: 10px;
    color: #c8da96;
}

.info {
    background-color: #1b5240
    ;
    padding: 40px;
}

img {
    width: 150px;
    border-radius: 5%;
}

.kontak {
    margin: 40px;
    color: #1b5240;
    text-align: center;
}

.judul_kontak {
    font-size: x-large;
    font-variant: small-caps;
    font-weight: bolder;
}

.kembali {
    margin-left: 40px;
    color: whitesmoke;
    text-decoration: none;
}

footer {
    font-size: 0.8rem;
    background-color: #333333;
    padding: 2px;
    color: whitesmoke;
    text-align: center;
}