body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     font-variant: small-caps;
     font-style: italic;
     background-image: url(img/bg_image4.jpg);
}
h1  {
    color: whitesmoke;
    text-align: center;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px; 
    color: whitesmoke;  
    font-size: 1rem; 
    text-align: center;
}

a {
    text-decoration: none;
    font-style: normal;
    color: whitesmoke;
}

